*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(sfondoservices.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 0px;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 150px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #59aba7;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: " ";
    height: 3px;
    width: 0;
    background: #145e75;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}


h1{
    color: black;
    font-size: 50px;
    text-align: center;
    padding-bottom: 15px;
    text-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

h2{
  color: #003863;
  text-align: left;
  font-family: 'Montserrat';font-size: 30px;
  position: relative;
  width: 518px;
}

p{
  color: #333333;
  text-align: left;
  font-family: 'Roboto';font-size: 17px;
  position: relative;
  width: 526px;
  line-height: 1.7em; 
}

.box1{
    padding: 80px;
}

.box1 h1{
    color: black;
}


.box {
        width: calc(33.33% - 20px);
        background-color: #f0f0f0;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

.text-section {
        width: 100%;
        text-align: center;
        margin-top: 20px;
}

.box img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    
}

.box h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.box p {
    text-align: center;
    margin-top: 10px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    border: 2px solid #009688;
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

.middle-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.box-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.box{
    height: auto;
    width: auto;
    padding: 0;
    background: #fff;
}

.box h3{
   color: #003863;
   font-family: 'Montserrat';font-size: 30px;

}

.box p{
    font-family: 'Roboto';font-size: 17px;
    color: #333333;
    padding: 20px 0 30px 0;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 0;
    border-radius: 0px;
    font-family: 'Montserrat';font-size: 12px;
    border: 2px solid #f05924;
    background: #003863;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
} 

.footer {
    background-color: #24292d;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-input {
    padding: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 5px;
}

.search-form button{ 
    width: 100px;
    margin: 0;
}

.search-button {
    padding: 3px 10px;;
    background-color: transparent;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
    margin-right: 5px;
}

.social-button-container {
    text-align: center;
    margin-top: 10px; /* Adjust the margin as needed */
}

.fa {
    padding: 20px;
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
    background: #554207;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }    