*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(sfondocontactus.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 0px;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 150px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: " ";
    height: 3px;
    width: 0;
    background: #145e75;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.box1{
    padding: 80px;
}

h1{
    color: #000000;
    font-size: 50px;
    text-align: center;
    padding-bottom: 15px;
}

.first-middle-section h2{
    color: #003863;
}

.first-middle-section h3{
    color: #f05924; 
}


.second-middle-section h2{
    color: #003863;
    text-align: center;
    position: relative;
    padding: 40px;
    font-size: 50px;
  }

.box-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.second-middle-section .box{
    width: 347px;
    height: 305px;
    padding: 0;
    background: transparent;
    align-items: center;
}

.second-middle-section .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    background-color: #24292d;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-input {
    padding: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 5px;
}

.search-form button{ 
    width: 100px;
    margin: 0;
}

.search-button {
    padding: 3px 10px;;
    background-color: transparent;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
    margin-right: 5px;
}

.social-button-container {
    text-align: center;
    margin-top: 10px; /* Adjust the margin as needed */
}

.fa {
    padding: 20px;
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
    background: #554207;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }    