*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(sfondo.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 0px 0px 200px 0;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 150px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: " ";
    height: 3px;
    width: 0;
    background: #145e75;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}


.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

.header-boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.box {
    flex: 1; /* Equal flex value for both boxes */
    padding: 0px;
    background-color:  #fbfbfb;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px; /* Add margin to create space between boxes */
}


.box-1 {
    background-color: rgba(0, 0, 0, 0); /* Adjust the background color as needed */
    padding: 20px;
    width: 100%; /* Make sure the background color spans the entire width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box h2 {
    color: white;
    font-family: 'Montserrat';
    font-size: 50px;
    text-align: center;
    line-height: 1.7em; 
}

.box h3 { 
    color: #003863;
    font-family: 'Montserrat';
    font-size: 25px;
    padding: 40px 0 20px 0;
    text-align: center;
}

.box p {
    color: black;
    font-family: 'Roboto';
    font-size: 17px;
    line-height: 1.7em;
    padding-bottom: 20px; /* Add space below the p */
    text-align: center;
}

.box h4 {
    color: #000000;
    font-family: 'Roboto';
    font-size: 16px;
    text-align: center;
    padding: 10px 0px 30px 0px;
}

.box a{
    padding: 0 0 30px 0;
}

.button-container {
    display: flex;
    justify-content: center; 
}

.first-middle-section .container{
        max-width: 550px;
        margin: 20px 30px 20px 0;
        padding: 20px 20px 20px 50px;
        text-align: left;
    }
.first-middle-section h2{
    color: #003863;
    padding: 0 0 20px 0;
    font-family: 'Montserrat';font-size: 25px;
}

.first-middle-section p{
    font-family: 'Roboto';font-size: 17px;
    line-height: 1.7em; 
}

.second-middle-section{
    background-color: rgba(201, 201, 201, 0.597);
    padding: 20px 20px 20px 50px;
}

.second-middle-section h2{
    color: #003863;
    padding: 50px 50px 10px 0;
    font-family: 'Montserrat';font-size: 25px;
    text-align: center;
}

.second-middle-section p{
    font-family: 'Roboto';font-size: 17px;
    line-height: 1.7em; 
}

.second-middle-section .box-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 30px;
}

.second-middle-section .box{
    width: auto;
    height: auto;
    padding: 0;
    background: #fbfbfb;
    align-items: center;
}

.second-middle-section h3{ 
    color: #003863;
    font-family: 'Montserrat';font-size: 25px;
    padding: 0 0 20px 0;
}

.second-middle-section .text{
    text-align: center;
    padding: 95px;
}

.second-middle-section p{
    font-family: 'Roboto';font-size: 17px;
    line-height: 1.7em; 
    padding: 0 0 20px 0;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 0;
    border-radius: 0px;
    font-family: 'Montserrat';font-size: 12px;
    border: 2px solid #f05924;
    background: #003863;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
} 


.third-middle-section .box{
    text-align: center;
    padding: 50px;
    margin: 50px;
    background: #fbfbfb;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
    width: 535px;
    height: 333px;
}
.third-middle-section h2{
    color: #003863;
    padding: 10px 50px 10px 50px;
    font-family: 'Montserrat';font-size: 25px;
}

.third-middle-section p{
    font-family: 'Roboto';font-size: 14px;
    line-height: 1.7em; 
    padding: 10px 0 20px 0;
}

.footer {
    background-color: #24292d;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-input {
    padding: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 5px;
}

.search-form button{ 
    width: 100px;
    margin: 0;
}

.search-button {
    padding: 3px 10px;;
    background-color: transparent;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
    margin-right: 5px;
}

.social-button-container {
    text-align: center;
    margin-top: 10px; /* Adjust the margin as needed */
}

.fa {
    padding: 20px;
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
    background: #554207;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }    

  .footer p{
    color: white;
    text-align: right;
    font-family: 'Roboto';font-size: 17px;
  }